<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="style.css" />
        <title>Dumazona</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">dumazona</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <ul>
                <li>Product one</li>
                <li>Product two</li>
                <li>Product three</li>
                <li>Product four</li>
                <li>Product five</li>
                </ul>
            </main>
            <footer class="row center">
                All rights reserved.
            </footer>
        </div>
    </body>
</html>